@font-face {
    font-family: "Robotics";
    src: url(../fonts/SFTransRobotics.ttf);
}

body {
	
}

#main-navbar, .jumbotron, .navbar-brand {
	font-family: Robotics;
}

#main-navbar {
	font-size:16px;
}

.navbar-brand {
	font-size:24px;
}