main, section, h2 {
    margin:0;
    padding: 0;
}

main {
    width: 800px;
    height: 500px;
    background:url(../images/25525466-futuristic-shining-dark-blue-technology-printed-circuit-board-seamless-with-pattern-in-swatches.jpg);    
    background-repeat: repeat;
    border-radius: 20px;
    font-family: Calibri;
    font-size: 20px;
    color: white;
}

iframe {
    margin-left: 20px;    
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

section {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

#ref {
    width: 300px;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
    padding: 10px;
}